
/* loading  */
.loading{
  position: absolute;
  top: 30%;
  z-index: 200;
}

.loading img{
  width: 3rem;
}


/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
  .loading img{
    width: 3.5rem;
   }
   
 }
